################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Laborator4/Problema1/main/main/Sort.cpp
